/* --------
    RESET
----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------
   TYPO
----------*/
body{
    font-family: 'Roboto', sans-serif;
}

/* --------
   CLEARFIX
----------*/
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* --------
   COMMONS
----------*/
.container{
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.white-text-color{
    color: white;
}

button{
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
}

.button-color-white{
    background-color: #fff;
}

/* --------
   HEADER
----------*/
header{
    background-color: lightcoral;
    text-align: center;
}

header nav, header nav li{
    display: inline-block;
}

header img, nav{
    vertical-align: middle;
}

header nav{
    margin: 0 200px;
}

header a{
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: inherit;
}


/* --------
    HERO
----------*/
.hero{
    background-image: url('../img/jumbo.png');
}